<%= form_for(recusal) do |f| %>
  <% if recusal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recusal.errors.count, "error") %> prohibited this recusal from being saved:</h2>

      <ul>
      <% recusal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reviewer_id %>
    <%= f.text_field :reviewer_id %>
  </div>

  <div class="field">
    <%= f.label :candidate_id %>
    <%= f.text_field :candidate_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
