<p id="notice"><%= notice %></p>

<h1>Recusals</h1>

<table>
  <thead>
    <tr>
      <th>Reviewer</th>
      <th>Candidate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recusals.each do |recusal| %>
      <tr>
        <td><%= recusal.reviewer %></td>
        <td><%= recusal.candidate %></td>
        <td><%= link_to 'Show', recusal %></td>
        <td><%= link_to 'Edit', edit_recusal_path(recusal) %></td>
        <td><%= link_to 'Destroy', recusal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recusal', new_recusal_path %>
