<p id="notice"><%= notice %></p>

<p>
  <strong>Reviewer:</strong>
  <%= @recusal.reviewer %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @recusal.candidate %>
</p>

<%= link_to 'Edit', edit_recusal_path(@recusal) %> |
<%= link_to 'Back', recusals_path %>
