<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @role.rank %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @role.admin %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @role.candidate %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
