<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @unit.school %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @unit.type %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
