<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @upload.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @upload.rank %>
</p>

<p>
  <strong>User:</strong>
  <%= @upload.user %>
</p>

<p>
  <strong>Section:</strong>
  <%= @upload.section %>
</p>

<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
